/* .title {
    background-color: rgb(47, 234, 255);
    text-align: center;
    padding: 40px;
    font: 15px Arial,sans-serif 
}

.column1 {
 
    float: left;
    background-color:lightblue;
    width: 50%;
    height: 200px;
    font: 10px Arial,sans-serif;
  }
  .row:after {

    content: "";
    display: table;    clear: both;
  }


.biobox {
    background-color: #66dd7c;
    
    display: inline-block;
    width: 100%;
    font: 10px Arial,sans-serif;
    text-align: left;
}

.column2 {
 
    float: left;
    background-color:lightblue;
    width: 100%;
    height: 200px;
    font: 10px Arial,sans-serif;
  }

  .education {
    background-color: #f0ffd8;
    padding: 30px;
    display: inline-block;
    width: 50%;
}

.column {
    background-color: #ffd8d8;
    display: inline;
    padding: 20px;
    float: left;
    width: 50%;
    font: 10px Arial,sans-serif 
}



h1{
    color: blueviolet; 
    background-color:light grey;
    font-weight:bold;
}



p{color: rgb(17, 0, 255);}

.container{color: green;
font: 15px Arial,sans-serif ;}

#list { list-style: none;
width: 50%;}

.list-container{
    text-align: center;
    width: 50%;
outline: dotted;}

.list-container:hover{background: black ;
    width:50%
color: white;}

.list-item{font: 8px Arial, sans-serif;
width: 50%;}

.paragraph::first-letter {font-size:40px;}

/* responsive css breakpoints */

/* @media screen and (max-width: 640px){.parent {flex-direction: column;}}
    
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
width: 100%;
height: 600px;
overflow: auto;
border: 1px solid blue;
padding: 6px;
}
.box {
    width: 300px;
    height: 300px;
    background: yellowgreen;
    margin: 20px;
}
/* This is a single line comment */

/* .grid-col-span-2 {grid-column: span 2;} */


